**/__pycache__/
main.py
test.py
simulations/
dataset_canon/
calculadora.py
teste/
**/comparative_simulations/
aiaa_test/
training_results/**
!training_results/model_weights.pth
!training_results/normalization_data.csv